

.menu-container{
    background-color:#87CEEB;
    padding : 30px 30px  0px 0px;
    color: #FFD700;
    display: flex;
    font-size: 1.2em;
    font-weight: 600;
    font-style: inherit;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    justify-content: center;
}

.logo{
width: 900px;
border-image: 1px 1px ;
}

.basic-element , .Home{
    border: 1px 0px #87CEEB;
    width: 350px;
    display: flex;
    justify-content: space-around ;

}


.link{
    border: 1px 0px;
    display:flex;
    width: 180px;
    justify-content: space-between;
}


.container {
  position: relative;
  text-align: center;

}

.container-click{
    margin: 20px 15px;
    opacity: 0.6;
    font-size: 100em;
    color: #87CEEB;
    font-weight: bolder;
    font-size: larger;
    position: absolute;
    top: 20%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    left: 10%;
}

.middleepageS{
    position: relative;
    text-align: center;
}


.footer{
    display:flex;
    justify-content: space-between;
}

.footer-item{
    background-color:#87CEEB;
    height: 50px;
    display: flow-root;
    justify-content: center;
    flex :2;   
}


h3{
    text-shadow:1px 1px 1px #fff;
}


.container-audio {
    background-image: url('image3.jpg');
    background-size: 65%;
    background-position: right;
    background-repeat: no-repeat;
   justify-content: space-between;
    flex-wrap: wrap;
     color: #444;
    font-size: 0.7em;
    padding: 100px;

}

.SingerInfo ,.text-block{
    font-size: 1.1em;
    color:#FFff ;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}
  

  li {
  display: inline-block;
    text-align: center;
  }




































































































